<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventorySales\Model\IsProductSalableCondition\IsAnySourceItemInStockCondition">
        <plugin name="zero1_openpos_is_product_salable_bypass" type="Zero1\OpenPosMsi\Plugin\IsProductSalableBypass" sortOrder="10"/>
    </type>

    <type name="Magento\InventorySales\Model\IsProductSalableCondition\BackOrderCondition">
        <plugin name="zero1_openpos_backorder_condition_bypass" type="Zero1\OpenPosMsi\Plugin\BackorderConditionBypass" sortOrder="10"/>
    </type>
</config>
